@import url('https://fonts.cdnfonts.com/css/gg-sans-2');
html, body, div#app {
    background: transparent !important;
    background-color: transparent !important;
  }  
main#container{
    margin-left:auto;
    margin-right:auto;
    min-width:200px;
    width:calc(100% - 20px);
    max-width:500px;
    background:#111214;
    padding:10px;
    border-radius:7px;
    font-family: 'gg sans Normal ', sans-serif;
/*  border:5px black solid; */
    color:white;
    font-size:17px;
    box-shadow: .35px .35px 5px 5px #888888;
}
main#container:empty{
    display:none;
}
section#profileImages > div#profileBanner{
    height:90px;
    width:calc(100% + 20px);
    background-color:#232428;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    margin:-10px;
    padding:0px;
    border-radius:5px 5px 0px 0px;
}
@media (min-width:350px){
    section#profileImages > div#profileBanner{
        height:120px;
    }
}
section#profileImages > div#profileImgAndStatusContainer {    
    display: grid;
    margin-top:-60px;
    align-items: center;
    grid-column: auto;
    grid-template-columns: 125px fit-content(100%);

}
section#profileImages > div#profileImgAndStatusContainer img#avatar {
    border-radius:100%;
    border:10px solid #111214;
}
section#profileImages > div#profileImgAndStatusContainer div#statusMessageContainer {
    padding:10px;
    border-radius:10px;
    background-color:#232428;
    max-height: 65px;
    overflow-y: scroll;
    box-shadow: .10px .10px 2px 2px #111;
}
section#profileImages > div#profileImgAndStatusContainer > div#statusMessageContainer > span {
    display: inline;
    font-size: 25px;
    word-wrap: break-word;
}
section#profileInfo{
    padding:5px;
    border-radius:5px;
    margin:2px;
}
section#profileInfo > div#aboutMe p{
    margin:0;
}
section#profileInfo div#profileID p#globalname{
    font-size: 30px;
}
div#aboutMe a:visited{
    color:blue;
}
section#activities{
    display: grid;
    /*font-size:1px;*/
}
section#activities div > img{
    border-radius: 7.5px;
}
ul, li  {
    list-style-type: none;
    padding: 0px

}
section#activities > div,
main#container > section#activities:only-child:empty::before {
    background:#111214;
    border-radius:5px;
    margin:2px;
    border: 0.5px black solid;
    display: grid;
}
section#activities > div.activity{
    display: grid;
    background:#232528;
    column-gap:10px;
    grid-template-columns: 64px auto;
    align-items: center;
    padding: 10px;
}
section#activities > div.activity > div.activityIcons > img.smallActivityImage{
    display: grid;
    width: auto;
    height:25px;
    margin-top:-25px;
    margin-left:45px;
    border-radius:100%;
}
section#activities > div.activity p{
    padding:0px;
    margin:0px;
}
section#activities > div.activity > div:first-child,
section#activities > div.activity > div:first-child *{
    width:64px;
}
section#activities > div.activity > div:nth-child(2){
    list-style: none;
    margin:0%
}

main#container > section#activities:only-child:empty::before {
    content: "No activities detected. Either the user is offline, user not recognized, or presence is not detected.";
    text-align: center;
}